.heading{
    margin-left: 620px;
    font-size: 40px;
    margin-bottom: -1px;

}
#powered{
    margin-left: 700px;
    margin-top: 2px;
    color: #686868;
}
.container h6 span{
    color: #00994d
}
.navbar{
    width: 100%;
    height: 40px;
    background-color: #2986db;
    margin: 0;
    padding:4px 1px 18px 0px;
    align-items: center;
}
.navbar ul li{
    display:inline;
    margin: 10px 25px;
    font-size: 20px;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: black;
}
.img{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.img1{
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
}
.img2{
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
}
.content_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3%;
    margin-top: 100px;
}
.information{
    margin: 0px 100px 0px 30px;
    width: 100%;
}
.information h2{
    font-size: 1.3rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    color: #686868; 
}
*{
    font-family: "Reddit Sans", sans-serif;
    font-weight: 400;
    font-size: medium;
}
.information p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.info2,.info3{
    margin-top: 100px;
}
.info2 a,.info3 a{
    text-decoration: none;
    color: #2986db;
}
.links h2, .links h3{
    color: #686868;
}
.link1,.link2,.link3,.link4,.button_container{
    margin-left: 100px;
    margin-top: 60px;      
}
.link{
    color: #316bff;
    text-decoration: none;
    font-size: 1vw;
    margin-left: .05283vw; 
}
.link:hover{
    color: #686868;
    background-color: none;
}
.button{
    font-weight: 600;
    color: #ffffff;
    font-size: 1vw;
    background: #316bff;
    margin: 0 0 0.5rem 0;
    padding: 0.4rem 2rem;
    padding-bottom: 0.45rem;
    border-radius: 5px;
    border: 2px solid transparent;
    vertical-align: middle;
    text-shadow: none;
    transition: all 0.2s;
    width: 100%;
    text-decoration: none;
    margin-left: 2.0833vw;
}
.button:hover{
    background-color: white;
    color: #316bff;
}
.package:hover{
    border:2px solid #316bff;
    color:#316bff;
    background-color: white;
}
.link4 ul li a{
    font-weight: 600;
    color: #ffffff;
    font-size: 1vw;
    background: #316bff;
    margin: 0 0 0.5rem 0;
    padding: 0.4rem 2rem;
    padding-bottom: 0.45rem;
    border-radius: 5px;
    border: 2px solid transparent;
    vertical-align: middle;
    text-shadow: none;
    transition: all 0.2s;
    width: 100%;
    text-decoration: none;
}
.link4 ul,.link1 ul,.link2 ul,.link3 ul{
    list-style-type: none
}
.contacts{
    padding-top: 0px;
    color: white;
    position: relative;
    right: 300px;
    
    
}
.icon_set{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: black;
    padding: 100px 0px 100px 0px;
}
.icon {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    border-radius: 50%;
    display: flex;
}
.icon i{
    font-size: 30px;
    color: #316bff;
}
.icon:hover i{
    color: white;
    animation: shake 0.75s;
}
footer span{
    color: #316bff;
}
footer{
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    background-color: black;
}
footer p{
    color: #686868;
    margin-left: 30px;
}
footer a{
    text-decoration: none;
    color: #316bff;
}
.title{
    font-size: 2rem;
    margin: 100px 0px 0px 250px;
}
.cars{
    display: flex;
}
.cars ul,.van ul{
    list-style-type: none;
}
.price{
    margin-top: 50px;
}
.cars img{
    width: 300px;
    height: 200px;
}
.van img{
    height: 200px;
    width: 300px;
}
.vehicles{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.van{
    display: flex;
}
.title1{
    margin-top: 50px;
}
.number{
    margin-top: 80px;
    margin-left: 600px;
}
.number a{
    display: block;
    width: 12.5vw;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    line-height: 2.5rem;
    border-radius: 3px;
    text-decoration: none;
    background-color: #16a085;
}
.number h3,.number1 h3{
    margin-left: 50px;
}
.numbers{
    display:flex;
    justify-content: space-evenly;
    margin-right: 200px;
    margin-left: -350px;
}
.number1{
    margin-top: 80px;
}
.number1 a{
    background-color: #cc0099;
    display: block;
    width: 12.5vw;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    line-height: 2.5rem;
    border-radius: 3px;
    text-decoration: none;
}
.number2:hover{
    color: black;
}
@media (max-width: 1200px) {
    .button {
        font-weight: 600;
        color: #ffffff;
        font-size: 1vw;
        background: #316bff;
        margin: 0 0 0.5rem 0;
        padding: 1px 1px 1px 1px;
        padding-bottom: 0.45rem;
        border-radius: 5px;
        border: 2px solid transparent;
        vertical-align: middle;
        text-shadow: none;
        transition: all 0.2s;
        width: 100%;
        text-decoration: none;
        margin-left: 1vw;
      
    }
  }
  @media screen and (max-width: 600px) {
    .package {
        font-weight: 600;
        color: #ffffff;
        font-size: 1vw;
        background: #316bff;
        margin: 0 0 0.5rem 0;
        padding: 1px 1px 1px 1px;
        padding-bottom: 0.45rem;
        border-radius: 5px;
        border: 2px solid transparent;
        vertical-align: middle;
        text-shadow: none;
        transition: all 0.2s;
        width: 100%;
        text-decoration: none;
    }
  }
  @media (max-width:1200px){
    .link1 a,.link2 a,.link3 a,.link4 a,.button_container{
        margin-left: 0px;
    }
  }
   @media (max-width:1800px){
    .content_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 3%;
        margin-top: 100px;
    }
  }
    }
  